<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aula particular marcada com sucesso!</title>
  </head>
  <body>
    <h3><strong>Olá, <%= studentName %>!</strong></h3>
    <p>
      Sua próxima aula particular está marcada para o dia
      <strong> <%= classDate %>, às <%= classTime %></strong>!
    </p>
    <p>
      Entre no portal do aluno para acessá-la, ou acesse-a por
      <a href="<%= meetingUrl %>">aqui</a>: <%= meetingUrl %>!
    </p>
    <div style="display: flex; justify-content: space-between">
      <img
        src="https://ik.imagekit.io/vjz75qw96/assets/arvin_visuals/logo.png?updatedAt=1687346649448"
        alt="Arvin Visuals"
        style="max-width: 30%; height: auto; object-fit: contain"
      />
    </div>
  </body>
</html>
